/*bootcamp*/
#section-bootcamp{
    position: relative;
    width: 100%;
    height: 530px;
    background: url('../img/bg-bootcamp.svg');
    background-size: cover;
    padding-top: 215px;
    margin-top: 80px;
}
#section-bootcamp:before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #1E3A56;
    opacity: 0.8;
}
#section-bootcamp .container{
    position: relative;
}
#section-bootcamp h1{
    font-size: 48px;
    font-weight: bold;
}
#section-bootcamp p{
    font-size: 18px;
    font-family: 'Helvetica-Light',sans-serif;
}
/*bootcamp*/

.text-orange{
    color: #F47E00;
}

/*Feature*/
#feature{
    padding: 64px 0px;
}
/*Feature*/

#testimoni-bootcamp{
    position: relative;
    width: 100%;
    height: 372px;
    overflow: hidden;
    background-color:  #1E3A56;

}
#testimoni-bootcamp:after{
    position: absolute;
    content: "";
    width: 131%;
    min-height: 575px;
    background-color: #213F5E;
    opacity: 0.8;
    transform: rotate(20deg);
    left: -32%;
}
#testimoni-bootcamp:before{
    position: absolute;
    content: "";
    width: 1700px;
    height: 1300px;
    background-color: #35506C;
    transform: rotate(-25deg);
    right: -69%;
}
.line-white{
    background-color: #fff;
}
#card-group{
   position: relative;
   margin: 0 auto;
   bottom: 238px;
   margin-top: 48px;
}
.card-testimoni{
    position: relative;
    width: 100%;
    min-height: 308px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 1;
    padding: 33px;
}
.card-testimoni p{
    font-size: 18px;
    font-family: 'Helvetica-Light',sans-serif;
    color: #3D3F41;
    line-height: 22px;
}

/*advertise-join*/
#advertise-join{
    position: relative;
    bottom: 242px;
    margin-top: 127px;
}
/*advertise-join*/

/*timeline*/
#timeline:before{
    position: absolute;
    content: "";
    width: 1400px;
    height: 2200px;
    background-color: #213F5E;
    transform: skewY(12deg) rotate(-45deg);
    -webkit-transform: skewY(12deg) rotate(-45deg);
    -moz-transform: skewY(12deg) rotate(-45deg);
    -o-transform: skewY(12deg) rotate(-45deg);
    left: -269px;

}
#timeline{
    width: 100%;
    height: 1180px;
    background-color: #1E3A56;
    transform: skewY(-12deg);
    -webkit-transform: skewY(-12deg);
    -moz-transform: skewY(-12deg);
    -o-transform: skewY(-12deg);
    position: relative;
    bottom: 100px;
    overflow: hidden;
}

.timeline {
  width: 100%;
  padding: 20px;
  position: relative;
  transform: skewY(12deg);
  max-width: 800px;
  margin: 10px auto;
  top: 80px;
}
.timeline:before {
  position: absolute;
  width: 1px;
  height: calc(100% - 40px);
  background: #fff;
  content: "";
  left: calc(50% - 1px);
}
.timieline-title {
  font-size: 24px;
  font-family: 'Helvetica-Light',sans-serif;
  color: #fff;
  position: relative;
  right: 30px;
}
.timieline-title a{
    color: #fff
}
.timeline-content {
  width: calc(50% - 70px);
  position: relative;
  left: 20px;
  min-height: 100px;
  border-radius: 10px;
  margin-top: 97px;
}
.timeline-content:before {
  width: 20px;
  height: 20px;
  content: "";
  text-align: center;
  font-weight: bold;
  background: #fff;
  position: absolute;
  right: -60px;
  border-radius: 50%;
  top: calc(50% - 10px);
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}


.timeline-period {
 left: calc(100% + 50px + 111px);
 position: absolute;
 display: inline-block;
 background: #fff;
 padding: 16px;
 white-space: nowrap;
 top: calc(50% - 32px);
 font-size: 18px;
 font-weight: bold;
 color: #1E3A56;
 width: 179px;
 max-height: 80px;
}


@media screen and (min-width: 1024px) {
    .timeline-content:nth-child(odd) {
        left: calc(50% + 50px);
    }
    .timeline-content:nth-child(odd):before {
        right: auto;
        left: -60px;
    }

    .timeline-content:nth-child(odd) .timeline-period {
        right: calc(100% + 50px + 111px);
        left: auto;
    }

    .timeline-content:nth-child(odd) .timeline-period:before {
        left: 100%;
        border-right-color: transparent;
        border-left-color: #fff;
    }
    .timeline-content:nth-child(odd) .timieline-title{
        position: relative;
        left: 60px;
    }
}
/*Timeline*/

/*Batch*/
#batch{position: relative;margin-bottom:95px;}
#batch p{
    font-size: 18px;
    letter-spacing: 8%;
}
/*Batch*/

/*join bootcamp*/
#join-bootcamp{
    position: relative;
    width: 100%;
    min-height: 276px;
    overflow: hidden;
    background-color:  #1E3A56;
    padding-top: 83px;

}
#join-bootcamp:after{
    position: absolute;
    content: "";
    width: 131%;
    min-height: 575px;
    background-color: #213F5E;
    opacity: 0.8;
    transform: rotate(20deg);
    left: -32%;
}
#join-bootcamp:before{
    position: absolute;
    content: "";
    width: 1700px;
    height: 1300px;
    background-color: #35506C;
    transform: rotate(-25deg);
    right: -69%;
}
#join-bootcamp .container{
    position: relative;
    z-index: 1;
}
#join-bootcamp p{
    font-family: 'Helvetica-Light',sans-serif;
    font-size: 18px;
}
/*join bootcamp*/

/*Hubungi Kami*/
#hubungi-kami{
    position: relative;
    padding: 90px 0;
}
#hubungi-kami p{
font-family: 'Helvetica-Light',sans-serif;
    font-size: 18px;
}

#hubungi-kami .btn{
    padding:  14px 160px;
    border: none;
    text-transform: none;
    letter-spacing: 2px;
}
#hubungi-kami img{
    position: relative;
    margin-top: 128px;
}
/*Hubungi Kami*/

