@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.otf");
}
@font-face {
  font-family: "Helvetica-Bold";
  /* src: url("../fonts/Helvetica-Bold.ttf"); */
  src: url("../fonts/Helvetica.otf");
}
@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/Helvetica-Light.otf");
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica',sans-serif;
}

b{
    font-family: 'Helvetica-Bold',sans-serif;
    font-weight: bold;
}
a{margin:0;padding: 0;}
a:hover {
    text-decoration: none;
}

/*FONT*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Helvetica',sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: 0;
}
p{
    font-size: 24px;
    font-family: 'Helvetica-Light',sans-serif;
    line-height: 28px;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
/*/FONT*/



/*Jarak*/

.top-8{position: relative;margin-top: 8px;}
.top-10{position: relative;margin-top: 10px;}
.top-16{position: relative;margin-top: 16px;}
.top-18{position: relative;margin-top: 18px;}
.top-19{position: relative;margin-top: 19px;}
.top-20{position: relative;margin-top: 20px;}
.top-22{position: relative;margin-top: 22px;}
.top-24{position: relative;margin-top: 24px;}
.top-30{position: relative;margin-top: 30px;}
.top-32{position: relative;margin-top: 32px;}
.top-36{position: relative;margin-top: 36px;}
.top-40{position: relative;margin-top: 40px;}
.top-48{position: relative;margin-top: 48px;}
.top-45{position: relative;margin-top: 45px;}
.top-48{position: relative;margin-top: 48px;}
.top-50{position: relative;margin-top: 50px;}
.top-56{position: relative;margin-top: 56px;}
.top-60{position: relative;margin-top: 60px;}
.top-64{position: relative;margin-top: 64px;}
.top-70{position: relative;margin-top: 70px;}
.top-72{position: relative;margin-top: 72px;}
.top-80{position: relative;margin-top: 80px;}
.top-85{position: relative;margin-top: 85px;}
.top-88{position: relative;margin-top: 88px;}
.top-90{position: relative;margin-top: 90px;}
.top-96{position: relative;margin-top: 96px;}
.top-100{position: relative;margin-top: 100px;}
.top-112{position: relative;margin-top: 112px;}
.top-184{position: relative;margin-top: 184px;}
.top-300{position: relative;margin-top: 300px;}


.bottom-8{position: relative;margin-bottom: 8px;}
.bottom-10{position: relative;margin-bottom: 10px;}
.bottom-16{position: relative;margin-bottom: 16px;}
.bottom-18{position: relative;margin-bottom: 18px;}
.bottom-19{position: relative;margin-bottom: 19px;}
.bottom-20{position: relative;margin-bottom: 20px;}
.bottom-22{position: relative;margin-bottom: 22px;}
.bottom-24{position: relative;margin-bottom: 24px;}
.bottom-30{position: relative;margin-bottom: 30px;}
.bottom-32{position: relative;margin-bottom: 32px;}
.bottom-40{position: relative;margin-bottom: 40px;}
.bottom-45{position: relative;margin-bottom: 45px;}
.bottom-48{position: relative;margin-bottom: 48px;}
.bottom-50{position: relative;margin-bottom: 50px;}
.bottom-56{position: relative;margin-bottom: 56px;}
.bottom-60{position: relative;margin-bottom: 60px;}
.bottom-64{position: relative;margin-bottom: 64px;}
.bottom-70{position: relative;margin-bottom: 70px;}
.bottom-72{position: relative;margin-bottom: 72px;}
.bottom-80{position: relative;margin-bottom: 80px;}
.bottom-85{position: relative;margin-bottom: 85px;}
.bottom-88{position: relative;margin-bottom: 88px;}
.bottom-90{position: relative;margin-bottom: 90px;}
.bottom-96{position: relative;margin-bottom: 96px;}
.bottom-100{position: relative;margin-bottom: 100px;}
.bottom-112{position: relative;margin-bottom: 112px;}

.left-8{position: relative;margin-left: 8px;}
.left-16{position: relative;margin-left: 16px;}
.left-32{position: relative;margin-left: 32px;}
.left-40{position: relative;margin-left: 40px;}
.left-48{position: relative;margin-left: 48px;}
.left-56{position: relative;margin-left: 56px;}
.left-64{position: relative;margin-left: 64px;}
.left-72{position: relative;margin-left: 72px;}
.left-80{position: relative;margin-left: 80px;}
.left-88{position: relative;margin-left: 88px;}
.left-96{position: relative;margin-left: 96px;}
.left-112{position: relative;margin-left: 112px;}

.right-8{position: relative;margin-right: 8px;}
.right-16{position: relative;margin-right: 16px;}
.right-32{position: relative;margin-right: 32px;}
.right-40{position: relative;margin-right: 40px;}
.right-48{position: relative;margin-right: 48px;}
.right-56{position: relative;margin-right: 56px;}
.right-64{position: relative;margin-right: 64px;}
.right-72{position: relative;margin-right: 72px;}
.right-80{position: relative;margin-right: 80px;}
.right-88{position: relative;margin-right: 88px;}
.right-96{position: relative;margin-right: 96px;}
.right-112{position: relative;margin-right: 112px;}
/*/Jarak*/

/*COLOR*/
.color-white{
    color: #fff;
}
.color-orange{
    color:#F47E00;
}
.color-black{
    color: #3D3F41;
}
/*/.COLOR*/

/*Button */
.btn{
    padding: 19px 47px;
    font-family: 'Helvetica-Bold',sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 30px;
    line-height: 18px;
}
.btn-small{
    padding: 13px 30px;
}
.btn-bg-orange{
    background-color: #F47E00;
    color: #fff;
}
.btn-bg-orange:hover{
    background-color: #ff9c33;
    color: #fff;
}
.btn-bg-blue{
    background-color: #1E3A56;
    color: #fff;
}
.btn-bg-blue:hover{
    background-color: #284c71;
    color: #fff;
}

.btn-border-orange{
    border: 1px solid #F47E00;
    color: #F47E00;
}
.btn-border-orange:hover{
    border: 1px solid #F47E00;
    color: #F47E00;
    background-color: hsla(31, 100%, 60%, 0.1);
    background-color: #ff9c331a;
    background-color: rgba(255, 156, 51, 0.1);
}
.btn-border-gray{
    border: 1px solid #D9E9FB;
    color: #3D3F41;
}
.btn-border-gray:hover{
    border: 1px solid #D9E9FB;
    color: #3D3F41;
    background-color: #D9E9FB;
}

.bg-white{
    background-color: #fff;
}
.bg-white:hover{
    background-color: #f7f7f7;
}
.button {
    border-radius: 20px;
    text-align: center;
    border: 1px solid transparent;
}

.btn-border-oren {
    width: 109px;
    border: 1px solid #F47E00;
    color: #F47E00 !important;
    margin-right: 24px;
}

.btn-oren {
    width: 109px;
    background-color: #F47E00;
    color: white !important;
}

.btn-ungu {
    background-color: #1E3A56;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-ungu:hover,
.btn-hijau:hover {
    color: white;
}

.btn-hijau {
    background-color: #44C6A4;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-oren:hover {
    background-color: #F47E00 !important;
    color: white !important;
}

.bg-grey {
    background-color: #E9E9F1;
    padding-top: 43px;
    padding-bottom: 43px;
    margin-top: 99px;
}
/* <- Button */

.navbar {
    margin-bottom: 0;
    /*box-shadow: 0px 4px 20px 0px #e3e3e3;*/
}

.nav-edit {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    background-color: #fff;
}

.container-padding{
    padding-right: 8.33333333% !important;
    padding-left: 8.33333333% !important;
}

.navbar-brand-edit {
    margin-top: -28px;
    padding-top: 0;
}

.navbar-right li a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.navbar li a {
    font-size: 18px;
}



.box {
    background-color: white;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0 auto;
}

.centered {
    float: none;
    margin: 0 auto;
}

.top {
    text-align: center;
}

.top h1 {
    color: #3D3F41;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.top h1::after {
    width: 75px;
    height: 1px;
    background-color: #F47E00;
    content: "";
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

.top h6 {
    font-size: 14px;
    color: #3D3F41;
}

.select-group {
    width: 100%;
    margin-top: 28px;
    height: 37px;
}

.select {
    height: auto;
    float: left;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.select div {
    float: left;
    width: 50%;
    text-align: center;
}

.select .siswa {
    border-radius: 20px 0px 0px 20px;
    padding: 8px;
    background-color: #1E3A56;
    color: white;
}

.select .guru {
    border-radius: 0px 20px 20px 0px;
    padding: 8px;
    color: #C4C4C4;
    background: #E9E9F1;
}

.form-group {
    margin-top: 28px;
}

input[type=text] {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    outline: none;
    padding: 8px;
}

.input-group {
    width: 100%;
    margin-bottom: 22px;
}

.label-tag {
    padding-left: 16px;
    font-size: 14px;
    color: #35506C;
    font-weight: 300;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    color: #35506C;
    font-weight: 300;
}

/* Hide the browser's default checkbox */

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */

.container-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container-checkbox input:checked~.checkmark {
    background-color: #1E3A56;
    border: 1px solid transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label {
    max-width: 100%;
}

/* Show the checkmark when checked */

.container-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-masuk,.btn-daftar {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 30px;
    letter-spacing: 2px;
}

.bottom a {
    margin-top: 28px;
    color: #F47E00;
    font-weight: 600;
}

.register {
    text-align: right;
    float: right;
    margin-top: 0px !important;
}



/* Daftar sebagai */

.box-daftar-sebagai {
    padding-top: 72px;
    padding-left: 68px;
    padding-right: 68px;
    background-color: white;
    width: 536px;
    margin: 0 auto;
    padding-bottom: 83px;
}

.box-daftar-sebagai h1 {
    font-family: Helvetica;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #3D3F41;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.box-daftar-sebagai h1::after {
    width: 75px;
    height: 0;
    border: 0.25px solid #F47E00;
    content: "";
    background-color: #F47E00;
    display: block;
    margin: 0 auto;
    margin-top: 9px;
}

.box-daftar-sebagai h4 {
    margin-top: 15px;
    text-align: center;
    font-family: Helvetica;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #3D3F41;
}

.button-group {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 31px;
}

.button-group .btn-ungu {
    margin-right: 14px;
}

.box-daftar-sebagai a span {
    margin-top: 31px;
    text-align: center;
    color: #F47E00;
    font-weight: bold;
    font-size: 14px;
}

.box-daftar-sebagai a .span2 {
    margin-top: 31px;
    text-align: center;
    color: #F47E00;
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;
}

.box-daftar-sebagai {
    text-align: center;
}

/* Daftar Guru & Siswa */

.box-daftar {
    width: 536px;
    margin: 0 auto;
    background-color: white;
    padding-top: 60px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 88px;
}

.box-daftar h1 {
    font-family: Helvetica;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #3D3F41;
    margin-top: 0;
    margin-bottom: 0;
}

.box-daftar h1::after {
    content: "";
    width: 75px;
    height: 1px;
    background-color: #F47E00;
    display: block;
    margin: 0 auto;
    margin-top: 12px;
}

.box-daftar p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #3D3F41;
}

.required {
    color: #F47E00;
}

/* About */
#about{
    background: url('../img/bg-about.svg') no-repeat;
    width: 100%;
    height: 469px;
    background-position: center;
    position: relative;
    margin-top: 99px;
}

#tentang{
    height: 72px;
}

.bg-button-about{
    width: 100%;
    height: 72px;
    float: left;
}
.button-about{
    width: 50%;
    height: inherit;
    float: left;
    cursor: pointer;
}

.tentang{
    background-color: #1E3A56;
}

.kontak{
    background-color: #C4C4C4;
}

.button-about h6{
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: 'Helvetica-Bold';
    line-height: 72px;
}

#tentang-arkademy{
    padding-top: 69px;
}

.title-about h1{
    text-align: center;
    font-size: 36px;
    color: #3D3F41;
    font-family: 'Helvetica-bold'
}

.title-about::after, .carousel-title h2::after{
    display: block;
    content: "";
    width: 150px;
    height: 1px;
    background-color: #F47E00;
    margin: 0 auto;
    margin-top: 24px;
}

.p-tentang{
    margin-top: 48px;
    padding-left: 78px;
    padding-right: 78px;
}

.p-tentang p{
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    color: #3D3F41;
}
.p-tentang p:first-child{
    margin-bottom: 48px;
}
.video-frame{
    margin: 0 auto;
    text-align: center;
    margin-top: 72px;
    width: 80%;
}

.fitur-utama{
    margin-top: 72px; 
    padding-left: 78px;
    padding-right: 78px;
}

.fitur-utama h5{
    text-align: center;
    font-size: 18px;
    text-align: center;
    color: #3D3F41;
}
.row-fitur{
    padding-left: 8.33%;
    padding-right: 8.33%;
    margin-top: 56px;
}
.detail-fitur h2{
    padding-top: 18px;
    line-height: 28px;
    font-size: 24px;
    color: #3D3F41;
    font-family: 'Helvetica-Bold';
}
.detail-fitur p{
    line-height: 28px;
    font-size: 18px;
    color: #3D3F41;
    font-family: 'Helvetica';
}
.row-fitur img, .belajar-fitur{
    float: left;
    margin-right: 12px;
    margin-left: 12px;
}
.float-right{
    float: right !important;
}
.text-right{
    text-align: right;
}

#carousel-fitur{
    margin-top: 100px;
    padding-bottom: 178px;
}

.carousel-title h2{
    text-align: center;
    font-size: 36px;
    color: #3D3F41;
    font-family: 'Helvetica-Bold';
}

#testimonials {
    position: relative;
    width: 100%;
    margin-top: 90px;
}

#testimonials .media-carousel img {
    width: 150px;
    height: 150px;
}

.img-box {
    display: inline;
    position: relative;
}

#testimonials .carousel-control {
    top: 0;
}

#testimonials p.testimonial {
    font-size: 18px;
    text-align: justify;
    color: #3D3F41;
    line-height: 25px;
}

#testimonials p.nama {
    font-size: 18px;
    text-align: justify;
    color: #3D3F41;
    line-height: 25px;
    font-family: 'Helvetica-Bold'
}

#testimonials .media-carousel .carousel-control.left,
#testimonials .media-carousel .carousel-control.right {
    border: none;
    font-size: 50px;
    background: none;
    border-radius: 0;
    color: #f47e01;
    position: absolute;
    top: 25%;
}

#testimonials .media-carousel .carousel-control.left{
    left: -40px;
}

#testimonials .media-carousel .carousel-control.right{
    right: -40px;
}

.carousel-control{
    text-shadow: none !important;
}

/* Kontak Arkademy */
#kontak-arkademy{
    padding-top: 69px;
    padding-bottom: 153px;
}

.form-kontak p{
    font-family: Helvetica;
    line-height: 28px;
    font-size: 18px;
    color: #3D3F41;
}
textarea{
    width: 100%;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    outline: none;
    padding: 8px;
    height: 211px;
}

.info-kontak{
    padding-left: 8.33%;
}

.info-box{
    width: 120%;
    padding-bottom: 40px;
    background-color: transparent;
    border: 1px solid #d9e9fb;
    margin-bottom: 30px;
}

.info-box .header{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #D9E9FB;
    height: 74px;
}

.info-box .header h3{
    text-align: center;
    line-height: 74px;
    font-family: 'Helvetica-Bold';
    font-size: 24px;
}

.info-box .content{
    padding-top: 32px;
    text-align: center;
    padding-left: 30px;
}

.info-box .content table tr td{
    padding: 5px;
}

.info-box .content table tr td:first-child{
    font-size: 18px;
    color: #3D3F41;
    font-family: 'Helvetica-Bold'
}

.headquarters{
    padding-left: 30px !important;
    text-align: left !important;
}

.headquarters h5{
    font-size: 18px;
    color: #000000;
    font-family: 'Helvetica-Bold'
}


.headquarters h6{
    margin-top: 8px;
    font-size: 18px;
    color: #000000;
}

/* Responsive */

@media (min-width: 320px) and (max-width: 424px) {
    .img-footer,
    .img-footer2 {
        display: none;
    }
    .nav-edit {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar li a {
        text-align: center;
        font-size: 14px;
    }
    .button {
        width: 100%;
    }
    .navbar-right {
        padding-left: 16px;
        padding-right: 16px;
    }
    .navbar-right li:nth-child(2) {
        margin-top: 8px;
    }
    .box {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .top h1 {
        font-size: 20px;
    }
    .top h1::after {
        width: 55px;
        margin-top: 18px;
    }
    .label-tag {
        font-size: 14px;
    }
    .input-group {
        margin-bottom: 14px;
    }
    label {
        max-width: 100%;
    }
    .btn-masuk {
        padding: 8px;
        font-size: 16px;
        margin-top: 16px;
    }
    .bottom {
        text-align: center;
    }
    .bottom ul {
        padding-left: 0;
    }
    .bottom ul li {
        list-style: none;
        text-align: center;
    }
    .bottom ul li a:hover {
        text-decoration: none;
    }
    footer {
        padding-top: 48px;
    }
    .footer-toggle {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .caret-footer {
        vertical-align: middle;
        border-top: 10px dashed;
        border-top: 10px solid #C4C4C4;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        float: right;
        margin-top: 8px;
    }
    ul {
        padding-left: 0;
    }
    .open>.dropdown-menu {
        display: block;
        width: 100%;
        background: #35506c;
    }
    .dropdown-menu {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
    }
    .dropdown-menu>li>a {
        color: #fff;
        font-size: 16px;
    }
    /* Daftar Guru dan Siswa */
    .box-daftar {
        width: 94%;
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 48px;
    }
    /* Daftar sebagai */
    .box-daftar-sebagai {
        width: 94%;
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 48px;
    }
    .box-daftar-sebagai h1 {
        font-size: 18px;
    }
    .button-group .btn-ungu {
        margin-right: 0px;
    }
    .button-group .row {
        margin-bottom: 24px;
    }
}

/*HEADER*/
#header{
    position: relative;
    background: url(../img/background.svg);
    width: 100%;
    height: 713px;
    padding-top: 250px;
    margin-top: 99px;
}
.title{
    font-weight: bold;
}
.text-light{
    font-family: 'Helvetica-Light',sans-serif;
}

/* /.HEADER*/

/*Modul Belajar*/
#modul-belajar{
 position: relative;
 overflow:hidden;
 padding-bottom: 300px;
 padding-top: 120px;
}
.line-horizontal{
    width: 110px;
    height: 3px;
    background-color: #F47E00;
    content: "";
    display: block;
}
.center{
    position: relative;
    margin: 0 auto;
}

.right{
    position: relative;
    margin: 0 auto;
    margin-right: 0px;
}

.decoration-first{
    position: absolute;
    right: -55px;
    top: -45px;
}
.decoration-second{
    position: absolute;
    left: 155px;
    top: 625px;
}
.decoration-third{
 position: absolute;
 left: -420px;
 top: 760px;
}

/*Modul Belajar*/


/*Fitur*/
#fitur:before{
    position: absolute;
    content: "";
    width: 1400px;
    height: 2200px;
    background-color: #213F5E;
    transform: skewY(12deg) rotate(-45deg);
    -webkit-transform: skewY(12deg) rotate(-45deg);
    -moz-transform: skewY(12deg) rotate(-45deg);
    -o-transform: skewY(12deg) rotate(-45deg);
    left: -269px;

}
#fitur{
    width: 100%;
    height: 1270px;
    background-color: #1E3A56;
    transform: skewY(-12deg);
    -webkit-transform: skewY(-12deg);
    -moz-transform: skewY(-12deg);
    -o-transform: skewY(-12deg);
    position: relative;
    bottom: 100px;
    overflow: hidden;
}

.sub-fitur{
    position: relative;
    transform: skewY(12deg);
    top: 150px;
}
.box-preview{
    width: 100%;
    max-height: 425px;
    background-color: #fff;
    overflow: hidden;
}
.box-preview img{
    width: 100%;
}

/*<-- Fitur*/

/*Bootcamp*/
#bootcamp{
    padding: 150px 0;
}
/* </Bootcamp*/

/*Kepercayaan*/
#kepercayaan:before{
    position: absolute;
    content: "";
    width: 1400px;
    height: 2200px;
    background-color: #213F5E;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    left: -360px;


}
#kepercayaan{
    width: 100%;
    height: auto;
    background-color: #1E3A56;
    position: relative;
    overflow: hidden;
    padding: 120px 0;
}
.sub-kepercayaan{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    padding-right: 8.33333%;
    padding-left: 8.33333%;
    padding-top: 60px;
    padding-bottom: 60px;

}

.school{
    background: url(../img/sprites-school-partner.png);
    width: 324px;
    height: 131px;
}
.ts-malang{
    background-position: 0 0;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.ts-makasar{
    background-position: -324px 0;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.ts-bandung{
    background-position: 324px 0;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.ts-jakarta{
    background-position: 0 393px;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.ts-purwokerto{
    background-position: -324px 393px;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.ts-medan{
    background-position: 324px 393px;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.ehipassiko{
    background-position: 0 262px;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.banjarbaru{
    background-position: -324 262px;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.access-network{
    background-position: 324 262px;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.smk-citra{
    background-position: 0 131px;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.smk-jkt{
    background-position: -324 131px;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}
.smk-madya-depok{
    background-position: 324 131px;
    transform: scale(0.60);
    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    -o-transform: scale(0.60);
}

.counter{
    position: absolute;
    width: 102%;
    height: 213px;
    background-color: #1E3A56;
    z-index: 999;
    left: -12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.counter .number{
    font-weight: bold;
    font-family: 'Helvetica-Bold',sans-serif;
    font-size: 53px;
}
#kepercayaan img{
    width: inherit;
    height: inherit;
}
.logo-big img,.logo-medium img,.logo-small img{
    width: 100%;
    height: 100%;
}
.logo-big,.logo-medium,.logo-small{
    float: left;
}
.logo-big{
    height: 100px;
    margin: 0px 20px;
}
.logo-medium{
    height: 65px;
    margin: 0px 45px;
}
.logo-small{
    height: 30px;
}
.logo{
    float: left;
}
.logo img{
    width: inherit;
    height: inherit;
}
.left-offset120{
    margin-left: 120px;
}

/*Kepercayaan*/

/*Guru*/
#guru{
    position: relative;
    width: 100%;
    min-height: 865px;
    padding-top: 122px;
    padding-bottom: 100px;
    .triangle{
        content: "";
        background: url(../img/triangle.svg);
        /* opacity: 0.4; */
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-attachment: fixed;
        /* background-position: center; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -400px -125px;
    }
}
#guru:after{
    position: absolute;
    content: "";
    background: url(../img/bg-guru.png);
    opacity: 0.4;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.card{
    position: relative;
    width: 100%;
    height: 180px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #D9E9FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}
.card p{
    font-size: 18px;
    line-height: 18px;
}
/*</ Guru*/

/*Testimoni*/
#testimoni{
    position: relative;
    width: 100%;
    min-height: 368px;
    overflow: hidden;
    background-color:  #1E3A56;
}
#testimoni:after{
    position: absolute;
    content: "";
    width: 131%;
    min-height: 368px;
    background-color: #213F5E;
    opacity: 0.8;
    transform: rotate(20deg);
    left: -65%;
    }#testimoni:before{
        position: absolute;
        content: "";
        width: 1700px;
        height: 1300px;
        background-color: #35506C;
        transform: rotate(-25deg);
        right: -69%;
    }
    .sub-testimoni{
        position: relative;
        width: 100%;
        min-height: 297px;
        background-color: #fff;
        margin: 35px 0px;
        border-radius: 20px;
        padding: 64px 108px;
    }
    .sub-testimoni p{
        font-family: 'Helvetica-Light',sans-serif;
        font-size: 18px;
    }
    /*Testimoni*/

    /*Sponsors*/
    #sponsors{
        position: relative;
        width: 100%;
        min-height: 672px;
        overflow: hidden;
        padding: 122px 0px;
    }
    /*Sponsors*/

    /*Footer*/
    footer{
        position: relative;
        width: 100%;
        min-height: 516px;
        background-color: #1E3A56;
        padding-top: 103px;
    }
    footer:before{
        position: absolute;
        content: "";
        background:url(../img/footer.svg) no-repeat;
        width: 100%;
        height: 90%;
    }
    footer ul{margin: 0;padding: 0}
    footer ul li{display: block;margin-top: 30px;}
    footer ul li a{
        font-family: 'Helvetica-Light',sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #fff;   
    }
    footer ul li a:hover{
        color: #fff;
    }
    .sosmed{
        margin-top: 33px;
    }
    .copyright{
        position: relative;
        width: 100%;
        min-height: 62px;
        background-color: #35506C;
        padding: 22px 0px;
    }
    .copyright .text{
        position: relative;
        font-family: 'Helvetica-Light',sans-serif;
        font-size: 18px;
        color: #fff;
        display: block;
        float: left;
    }
    .right{
        position: relative;
        float: right !important;
        right: 0;
    }
    .footer-text{
        margin-left: 36px;
    }
    /*</Footer*/


    /*Popup*/
    #popup{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(61, 63, 65, 0.5);
        background: hsla(0, 0%, 7%, 0.5);
        background: #12121280;
        content: "";
        left: 0;
        top: 0;
        display: none;
        z-index: 9999;
    }
    #popup .content{ 
        width: 536px;
        height: 398px;
        margin: auto;
        position: fixed;
        top: 0; left: 0; bottom: 0; right: 0;
        background-color: #fff;
        padding: 60px 0;
        z-index: 99;
    }
    #popup .content h1{
        font-size: 24px;
        font-family: 'Helvetica-Bold',sans-serif;
    }
    #popup .content p{
        font-size: 18px;
        font-family: 'Helvetica-Light',sans-serif;
    }

    /*Popup*/


    // Motivasi
    #motivasi{
        position: relative;
        top: 0;
        min-height: 126px;
        width: 100%;
        background: $color-blue;
        padding-bottom: 20px;
        p{
            line-height: unset;
            font-family: $font-light;
        }
    }
    .icon{
        position: relative;
        display: inline;
        float: left;
    }
    .icon-plus{
        background: url('../img/icon-plus.svg') no-repeat;
        width: 32px;
        height: 64px;
    }
    .line-45deg{
        width: 175px;
    height: 1px;
    background-color: #F47E00;
    content: "";
    display: block;
    transform: rotate(-45deg);
    top: 63px;
    position: relative;
    }
    // Motivasi

// Daftar sebagai
#daftar-sebagai{
    position: relative;
    margin-top: 99px;
}