/* Responsive*/
@media screen and (max-width: 319px){
    #section-bootcamp {
        padding-top: 115px;
    }
    #section-bootcamp h1 {
        font-size: 28px;
    }
    #hubungi-kami .btn {
        padding: 12px 36px;
        border: none;
        text-transform: none;
        letter-spacing: 2px;
    }
    #hubungi-kami img {
        width: 100%;
    }
    .h1-feature{
        font-size: 24px;
        text-align: center;
    }
    .text-center-xs{
        text-align: center;
    }
    .top-48-xs{
        margin-top: 48px;
    }
    .p-title-bootcamp, .p-content-bootcamp{
        font-size: 18px;
    }
    .p-content-bootcamp{
        text-align: left;
    }
    #testimoni-bootcamp {
        height: 1350px;
    }
    .h1-bootcamp{
        font-size: 28px;
    }
    #card-group {
        bottom: 230px;
        margin-top: -930px;
    }
    .top-28-xs{
        margin-top: 28px !important;
    }
    .h1-advertise{
        font-size: 24px;
    }
    .timeline-period {
        left: 0;
        position: relative;
    }
    .timeline-content {
        width: calc(70% - 10px);
        position: relative;
        left: 20px;
        min-height: 100px;
        border-radius: 10px;
        margin-top: 48px;
    }
    .timieline-title {
        font-size: 18px;
        font-family: 'Helvetica-Light',sans-serif;
        color: #fff;
        position: unset;
        right: 30px;
        margin-top: 16px;
    }
    .timeline-content:before {
        left: calc(130% - 5px);
    }
    .timeline:before {
        left: calc(90% - 1px);
    }
    #timeline {
        width: 100%;
        height: 1260px;
    }
    #batch {
        margin-top: -50px;   
        padding-bottom: 64px;   
    }
    .card-testimoni {
        padding: 24px;
    }
    .top-32-xs{
        margin-top: 32px;
    }
    .top-0-xs{
        margin-top: 0px;
    }
    .top-16-xs{
        margin-top: 16px;
    }
    #join-bootcamp {
        position: relative;
        width: 100%;
        min-height: 276px;
        overflow: hidden;
        background-color: #1E3A56;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .bottom-24-xs{
        margin-bottom: 24px;
    }
    .top-24-xs{
        margin-top: 24px;
    }
    #hubungi-kami {
        position: relative;
        padding: 48px 0;
    }
    #hubungi-kami img {
        position: relative;
        margin-top: 64px;
    }
    .h1-xs{
        font-size: 24px;
    }
    #popup .content{
        width: auto;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 40px 0;
    }

    .top-36-sm{
        margin-top: 36px;
    }
    .footer-text {
        padding-right: 50px;
    }
    .float-left-sm{
        float: left !important;
    }
    .box-daftar {
        width: 94%;
        padding-bottom: 60px;
    }
    .btn-masuk {
        margin-top: 24px;
    }
    .bottom ul {
        padding-left: 0;
    }
    .bottom ul li {
        list-style: none;
        text-align: center;
        padding: 4px;
    }
    /* Daftar sebagai */
    .box-daftar-sebagai {
        width: 94%;
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 48px;
    }
    .box-daftar-sebagai h1 {
        font-size: 18px;
    }
    .button-group .btn-ungu {
        margin-right: 0px;
    }
    .button-group .row {
        margin-bottom: 24px;
    }
    .navbar li a {
        text-align: center;
        font-size: 14px;
    }
    .btn-oren,.btn-border-oren{width: 100%;margin: 5 0px;}

    /* Landing page */
    #header{
        padding-top: 140px;
    }
    .title{
        font-size: 24px;
        line-height: 32px;
    }
    .p-title{
        font-size: 16px;
        margin-top: 24px;
        margin-bottom: 0;
    }
    .btn {
        padding: 12px 36px;
        font-size: 16px;
        line-height: 24px;
    }
    #modul-belajar {
        padding-top: 80px;
    }
    .decoration-first {
        right: -40px;
        top: 0px;
        width: 50%;
    }
    .title-modul{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .line-horizontal {
        width: 60px;
        height: 2px;
    }
    .p-modul{
        margin-top: 16px;
        font-size: 16px;
        text-align: left;
    }
    .top-32-modul{
        margin-top: 24px;
    }
    .top-64-modul{
        margin-top: 48px;
    }
    .overview iframe{
        margin-bottom: 16px;
    }
    #fitur{
        height: 1650px;
        top: -200px;   
        margin-bottom: -100px; 
    }
    #fitur:before {
        height: 3020px;
    }
    .sub-fitur{
        top: 150px;
    }
    .box-preview{
        margin-top: 48px;
    }
    .h1-cv{
        font-size: 28px;
    }
    .p-cv{
        font-size: 16px;
        text-align: left;
    }
    .top-40-cv{
        margin-top: 24px;
        width: 100%;
    }
    .top-184{
        margin-top: 64px;
    }
    .h1-forum{
        font-size: 28px;
    }
    .p-forum{
        font-size: 16px;
        text-align: left;
    }
    .top-40-forum{
        margin-top: 24px;
        width: 100%;
    }
    #bootcamp{
        padding: 0;
        padding-bottom: 100px;
    }
    .h1-beasiswa{
        font-size: 24px;
    }
    .p-beasiswa{
        font-size: 16px;
        text-align: left;
    }
    .top-32-beasiswa{
        margin-top: 24px;
    }
    .img-beasiswa{
        margin-bottom: 16px;
    }

    #kepercayaan{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .h1-kepercayaan{
        font-size: 24px;
        padding-left: 8.3333%;
        padding-right: 8.33333%;
    }
    .sub-kepercayaan{
        padding-left: 0;
        padding-right: 0;
    }
    .counter{
        position: relative;
        height: 42%;
        width: 100%;
        left: 0;
        padding-top: 16px;
    }
    .counter .number{
        font-size: 32px;
        margin-top: 24px;
    }
    .h1-number{
        font-size: 18px;
    }
    .top-300-jaringan{
        margin-top: 100px !important;
    }
    .top-300-jaringan h1 {
        font-size: 24px;
        padding-left: 8.33%;
        padding-right: 8.33%;
    }
    .logo-big, .logo-medium, .logo-small {
        float: none;
    }
    #guru {
        padding-top: 80px;
    }
    .h1-guru{
        font-size: 24px;
    }
    .p-guru{
        font-size: 16px;
    }
    .card p{
        font-size: 16px;
    }
    .sub-testimoni {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .img-guru{
        margin-bottom: 32px;
    }
    .sub-testimoni p {
        font-size: 16px;
    }
    #testimoni:before {
        height: 2500px;
    }
    #sponsors{
        padding: 64px 16px;
    }    
    #sponsors .top-48{
        margin-top: 0;
        text-align: center
    }
    #sponsors .col-md-12{
        text-align: center;
    }
    .logo{
        margin-top: 24px;
        float: none;
        margin-left: 0 !important;
    }
    .h1-sponsor, .h1-didukung{
        font-size: 24px;
    }
    footer{
        padding-bottom: 20px;
        padding-top: 48px;
    }
    footer ul li {
        display: block;
        margin-top: 16px;
    }
    footer .col-md-3{
        margin-top: 40px;
    }
    .sosmed{
        margin-top: 16px;
    }
    .sosmed .logo{
        float: left;
        margin-right: 16px;
        margin-top: 0;
    }
    footer:before {
        top: 44%;
        height: 70%;
    }
    .copyright .text{
        font-size: 14px;
    }
    .copyright .float-right{
        margin-top: 16px;
    }
    .footer-text{
        margin-left: 0;
        margin-right: 32px;
    }

    /* About */
    .button-about h6 {
        font-size: 16px;
        color: white;
        text-align: center;
        font-family: 'Helvetica-Bold';
        line-height: 72px;
    }
    .title-about h1 {
        font-size: 24px;
    }
    .p-tentang {
        margin-top: 28px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .p-tentang p {
        line-height: 25px;
        font-size: 16px;
        text-align: left;
        color: #3D3F41;
    }
    .p-tentang p:first-child {
        margin-bottom: 28px;
    }
    .video-frame {
        margin: 0 auto;
        text-align: center;
        margin-top: 72px;
        width: 90%;
        height: 50%;
    }
    .fitur-utama {
        margin-top: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .row-fitur img, .belajar-fitur {
        float: none;
    }
    .row-fitur {
        text-align: center;
    }
    .detail-fitur h2 {
        padding-top: 18px;
    }
    .detail-fitur p {
        font-size: 16px;
    }
    .float-right {
        float: none !important;
    }
    .carousel-title h2 {
        font-size: 24px;
    }
    .title-about::after, .carousel-title h2::after {
        width: 100px;
        margin-top: 16px;
    }

    .item div div{
        text-align: center;
    }
    #testimonials .media-carousel .carousel-control.left {
        left: -16px;
        top: 50px;
    }
    #testimonials .media-carousel .carousel-control.right {
        right: -16px;
        top: 50px;
    }
    #testimonials {
        margin-top: 40px;
    }
    #testimonials p.testimonial {
        font-size: 16px;
    }
    #testimonials p.nama {
        font-size: 16px;
        text-align: left;
    }
    #carousel-fitur {
        margin-top: 80px;
        padding-bottom: 72px;
    }
    .detail-fitur h2 {
        font-size: 18px;
    }

    /* About */
    .info-box{
        width: 100%;
        padding-bottom: 32px;
    }
    .info-kontak {
        padding-left: 0%;
    }
    .info-box .content table tr td:first-child {
        font-size: 16px;
    }        
    .info-box .content {
        padding-left: 16px;
    }
    .info-box .content table tr td {
        font-size: 14px;
    }
    .info-box .header h3 {
        font-size: 20px;
    }
    .headquarters h6, .headquarters h5 {
        margin-top: 8px;
        font-size: 16px;
        color: #000000;
    }
    #kontak-arkademy {
        padding-top: 69px;
        padding-bottom: 80px;
    }
    .left-offset120{
        margin-left: 0;
    }
    .line-45deg{
        width: 100%;
        -webkit-transform: unset;
        transform: unset;
        top: 20px;
    }
    #motivasi p{
        font-size: 18px;
    }
    .school{
        margin-left: -20px;
    }
    .xs-top-0{
        margin-top: 0;
    }
}


@media (min-width: 320px) and (max-width: 374px) {
    #section-bootcamp {
        padding-top: 115px;
    }
    #section-bootcamp h1 {
        font-size: 28px;
    }
    #hubungi-kami .btn {
        padding: 12px 36px;
        border: none;
        text-transform: none;
        letter-spacing: 2px;
    }
    #hubungi-kami img {
        width: 100%;
    }
    .h1-feature{
        font-size: 24px;
        text-align: center;
    }
    .text-center-xs{
        text-align: center;
    }
    .top-48-xs{
        margin-top: 48px;
    }
    .p-title-bootcamp, .p-content-bootcamp{
        font-size: 18px;
    }
    .p-content-bootcamp{
        text-align: left;
    }
    #testimoni-bootcamp {
        height: 1350px;
    }
    .h1-bootcamp{
        font-size: 28px;
    }
    #card-group {
        bottom: 230px;
        margin-top: -930px;
    }
    .top-28-xs{
        margin-top: 28px !important;
    }
    .h1-advertise{
        font-size: 24px;
    }
    .timeline-period {
        left: 0;
        position: relative;
    }
    .timeline-content {
        width: calc(70% - 10px);
        position: relative;
        left: 20px;
        min-height: 100px;
        border-radius: 10px;
        margin-top: 48px;
    }
    .timieline-title {
        font-size: 18px;
        font-family: 'Helvetica-Light',sans-serif;
        color: #fff;
        position: unset;
        right: 30px;
        margin-top: 16px;
    }
    .timeline-content:before {
        left: calc(130% - 5px);
    }
    .timeline:before {
        left: calc(90% - 1px);
    }
    #timeline {
        width: 100%;
        height: 1260px;
    }
    #batch {
        margin-top: -50px;   
        padding-bottom: 64px;   
    }
    .card-testimoni {
        padding: 24px;
    }
    .top-32-xs{
        margin-top: 32px;
    }
    .top-0-xs{
        margin-top: 0px;
    }
    .top-16-xs{
        margin-top: 16px;
    }
    #join-bootcamp {
        position: relative;
        width: 100%;
        min-height: 276px;
        overflow: hidden;
        background-color: #1E3A56;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .bottom-24-xs{
        margin-bottom: 24px;
    }
    .top-24-xs{
        margin-top: 24px;
    }
    #hubungi-kami {
        position: relative;
        padding: 48px 0;
    }
    #hubungi-kami img {
        position: relative;
        margin-top: 64px;
    }
    .h1-xs{
        font-size: 24px;
    }
    #popup .content{
        width: auto;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 40px 0;
    }

    .top-36-sm{
        margin-top: 36px;
    }
    .footer-text {
        padding-right: 50px;
    }
    .float-left-sm{
        float: left !important;
    }
    .box-daftar {
        width: 94%;
        padding-bottom: 60px;
    }
    .btn-masuk {
        margin-top: 24px;
    }
    .bottom ul {
        padding-left: 0;
    }
    .bottom ul li {
        list-style: none;
        text-align: center;
        padding: 4px;
    }
    /* Daftar sebagai */
    .box-daftar-sebagai {
        width: 94%;
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 48px;
    }
    .box-daftar-sebagai h1 {
        font-size: 18px;
    }
    .button-group .btn-ungu {
        margin-right: 0px;
    }
    .button-group .row {
        margin-bottom: 24px;
    }
    .navbar li a {
        text-align: center;
        font-size: 14px;
    }
    .btn-oren,.btn-border-oren{width: 100%;margin: 5 0px;}

    /* Landing page */
    #header{
        padding-top: 140px;
    }
    .title{
        font-size: 24px;
        line-height: 32px;
    }
    .p-title{
        font-size: 16px;
        margin-top: 24px;
        margin-bottom: 0;
    }
    .btn {
        padding: 12px 36px;
        font-size: 16px;
        line-height: 24px;
    }
    #modul-belajar {
        padding-top: 80px;
    }
    .decoration-first {
        right: -40px;
        top: 0px;
        width: 50%;
    }
    .title-modul{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .line-horizontal {
        width: 60px;
        height: 2px;
    }
    .p-modul{
        margin-top: 16px;
        font-size: 16px;
        text-align: left;
    }
    .top-32-modul{
        margin-top: 24px;
    }
    .top-64-modul{
        margin-top: 48px;
    }
    .overview iframe{
        margin-bottom: 16px;
    }
    #fitur{
        height: 1650px;
        top: -200px;   
        margin-bottom: -100px; 
    }
    #fitur:before {
        height: 3020px;
    }
    .sub-fitur{
        top: 150px;
    }
    .box-preview{
        margin-top: 48px;
    }
    .h1-cv{
        font-size: 28px;
    }
    .p-cv{
        font-size: 16px;
        text-align: left;
    }
    .top-40-cv{
        margin-top: 24px;
        width: 100%;
    }
    .top-184{
        margin-top: 64px;
    }
    .h1-forum{
        font-size: 28px;
    }
    .p-forum{
        font-size: 16px;
        text-align: left;
    }
    .top-40-forum{
        margin-top: 24px;
        width: 100%;
    }
    #bootcamp{
        padding: 0;
        padding-bottom: 100px;
    }
    .h1-beasiswa{
        font-size: 24px;
    }
    .p-beasiswa{
        font-size: 16px;
        text-align: left;
    }
    .top-32-beasiswa{
        margin-top: 24px;
    }
    .img-beasiswa{
        margin-bottom: 16px;
    }

    #kepercayaan{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .h1-kepercayaan{
        font-size: 24px;
        padding-left: 8.3333%;
        padding-right: 8.33333%;
    }
    .sub-kepercayaan{
        padding-left: 0;
        padding-right: 0;
    }
    .counter{
        position: relative;
        height: 42%;
        width: 100%;
        left: 0;
        padding-top: 16px;
    }
    .counter .number{
        font-size: 32px;
        margin-top: 24px;
    }
    .h1-number{
        font-size: 18px;
    }
    .top-300-jaringan{
        margin-top: 100px !important;
    }
    .top-300-jaringan h1 {
        font-size: 24px;
        padding-left: 8.33%;
        padding-right: 8.33%;
    }
    .logo-big, .logo-medium, .logo-small {
        float: none;
    }
    #guru {
        padding-top: 80px;
    }
    .h1-guru{
        font-size: 24px;
    }
    .p-guru{
        font-size: 16px;
    }
    .card p{
        font-size: 16px;
    }
    .sub-testimoni {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .img-guru{
        margin-bottom: 32px;
    }
    .sub-testimoni p {
        font-size: 16px;
    }
    #testimoni:before {
        height: 2500px;
    }
    #sponsors{
        padding: 64px 16px;
    }    
    #sponsors .top-48{
        margin-top: 0;
        text-align: center
    }
    #sponsors .col-md-12{
        text-align: center;
    }
    .logo{
        margin-top: 24px;
        float: none;
        margin-left: 0 !important;
    }
    .h1-sponsor, .h1-didukung{
        font-size: 24px;
    }
    footer{
        padding-bottom: 20px;
        padding-top: 48px;
    }
    footer ul li {
        display: block;
        margin-top: 16px;
    }
    footer .col-md-3{
        margin-top: 40px;
    }
    .sosmed{
        margin-top: 16px;
    }
    .sosmed .logo{
        float: left;
        margin-right: 16px;
        margin-top: 0;
    }
    footer:before {
        top: 44%;
        height: 70%;
    }
    .copyright .text{
        font-size: 14px;
    }
    .copyright .float-right{
        margin-top: 16px;
    }
    .footer-text{
        margin-left: 0;
        margin-right: 32px;
    }

    /* About */
    .button-about h6 {
        font-size: 16px;
        color: white;
        text-align: center;
        font-family: 'Helvetica-Bold';
        line-height: 72px;
    }
    .title-about h1 {
        font-size: 24px;
    }
    .p-tentang {
        margin-top: 28px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .p-tentang p {
        line-height: 25px;
        font-size: 16px;
        text-align: left;
        color: #3D3F41;
    }
    .p-tentang p:first-child {
        margin-bottom: 28px;
    }
    .video-frame {
        margin: 0 auto;
        text-align: center;
        margin-top: 72px;
        width: 90%;
        height: 50%;
    }
    .fitur-utama {
        margin-top: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .row-fitur img, .belajar-fitur {
        float: none;
    }
    .row-fitur {
        text-align: center;
    }
    .detail-fitur h2 {
        padding-top: 18px;
    }
    .detail-fitur p {
        font-size: 16px;
    }
    .float-right {
        float: none !important;
    }
    .carousel-title h2 {
        font-size: 24px;
    }
    .title-about::after, .carousel-title h2::after {
        width: 100px;
        margin-top: 16px;
    }

    .item div div{
        text-align: center;
    }
    #testimonials .media-carousel .carousel-control.left {
        left: -16px;
        top: 50px;
    }
    #testimonials .media-carousel .carousel-control.right {
        right: -16px;
        top: 50px;
    }
    #testimonials {
        margin-top: 40px;
    }
    #testimonials p.testimonial {
        font-size: 16px;
    }
    #testimonials p.nama {
        font-size: 16px;
        text-align: left;
    }
    #carousel-fitur {
        margin-top: 80px;
        padding-bottom: 72px;
    }
    .detail-fitur h2 {
        font-size: 18px;
    }

    /* About */
    .info-box{
        width: 100%;
        padding-bottom: 32px;
    }
    .info-kontak {
        padding-left: 0%;
    }
    .info-box .content table tr td:first-child {
        font-size: 16px;
    }        
    .info-box .content {
        padding-left: 16px;
    }
    .info-box .content table tr td {
        font-size: 14px;
    }
    .info-box .header h3 {
        font-size: 20px;
    }
    .headquarters h6, .headquarters h5 {
        margin-top: 8px;
        font-size: 16px;
        color: #000000;
    }
    #kontak-arkademy {
        padding-top: 69px;
        padding-bottom: 80px;
    }
    .left-offset120{
        margin-left: 0;
    }
    .line-45deg{
        width: 100%;
        -webkit-transform: unset;
        transform: unset;
        top: 20px;
    }
    #motivasi p{
        font-size: 18px;
    }
    .school{
        margin-left: -20px;
    }
    .xs-top-0{
        margin-top: 0;
    }
}

@media (min-width: 375px) and (max-width: 424px){
    #section-bootcamp {
        padding-top: 115px;
    }
    .h1-xs{
        font-size: 24px;
    }
    #section-bootcamp h1 {
        font-size: 28px;
    }
    #hubungi-kami .btn {
        padding: 12px 36px;
        border: none;
        text-transform: none;
        letter-spacing: 2px;
    }
    #hubungi-kami img {
        width: 100%;
    }
    .h1-feature{
        font-size: 24px;
        text-align: center;
    }
    .text-center-xs{
        text-align: center;
    }
    .top-48-xs{
        margin-top: 48px;
    }
    .p-title-bootcamp, .p-content-bootcamp{
        font-size: 18px;
    }
    .p-content-bootcamp{
        text-align: left;
    }
    #testimoni-bootcamp {
        height: 1200px;
    }
    #card-group {
        margin: 0 auto;
        bottom: 230px;
        margin-top: -750px;
    }
    .top-28-xs{
        margin-top: 28px !important;
    }
    .h1-advertise{
        font-size: 24px;
    }
    #timeline {
        bottom: 150px;
    }
    .timeline-period {
        left: 0;
        position: relative;
    }
    .timeline-content {
        width: calc(70% - 10px);
        position: relative;
        left: 20px;
        min-height: 100px;
        border-radius: 10px;
        margin-top: 48px;
    }
    .timeline {
        top: 10px;
    }
    #timeline{
        height: 1120px;
    }
    .timieline-title {
        font-size: 18px;
        font-family: 'Helvetica-Light',sans-serif;
        color: #fff;
        position: unset;
        right: 30px;
        margin-top: 16px;
    }
    .timeline-content:before {
        left: calc(130% - 5px);
    }
    .timeline:before {
        left: calc(90% - 1px);
    }
    #batch {
        margin-top: -50px;   
        padding-bottom: 64px;   
    }
    .img-batch{
        display: block;
        margin: 0 auto;
    }
    .card-testimoni {
        padding: 24px;
    }
    .top-32-xs{
        margin-top: 32px;
    }
    .top-0-xs{
        margin-top: 0px;
    }
    .top-16-xs{
        margin-top: 16px;
    }
    #join-bootcamp {
        position: relative;
        width: 100%;
        min-height: 276px;
        overflow: hidden;
        background-color: #1E3A56;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .bottom-24-xs{
        margin-bottom: 24px;
    }
    .top-24-xs{
        margin-top: 24px;
    }
    #hubungi-kami {
        position: relative;
        padding: 48px 0;
    }
    #hubungi-kami img {
        position: relative;
        margin-top: 64px;
    }
    #popup .content{
        width: auto;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 40px 0;
    }
    .top-36-sm{
        margin-top: 36px;
    }
    .box-daftar {
        width: 94%;
        padding-bottom: 60px;
    }
    .btn-masuk {
        margin-top: 24px;
    }
    .bottom ul {
        padding-left: 0;
    }
    .bottom ul li {
        list-style: none;
        text-align: center;
        padding: 4px;
    }
    .box-daftar-sebagai {
        width: 94%;
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 48px;
    }
    .box-daftar-sebagai h1 {
        font-size: 18px;
    }
    .button-group .btn-ungu {
        margin-right: 0px;
    }
    .button-group .row {
        margin-bottom: 24px;
    }
    .navbar li a {
        text-align: center;
        font-size: 14px;
    }

    /* Landing page */
    #header{
        padding-top: 140px;
        height: 640px;
    }
    .title{
        font-size: 28px;
        line-height: 36px;
    }
    .p-title{
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 0;
    }
    #header .btn{
        margin-top: 48px;
    }
    .btn {
        padding: 12px 36px;
        font-size: 18px;
        line-height: 24px;
    }
    #modul-belajar {
        padding-top: 80px;
    }
    .decoration-first {
        right: -40px;
        top: 0px;
        width: 50%;
    }
    .title-modul{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .line-horizontal {
        width: 80px;
        height: 3px;
    }
    .p-modul{
        margin-top: 16px;
        font-size: 18px;
        text-align: left;
    }
    .top-32-modul{
        margin-top: 24px;
    }
    .top-64-modul{
        margin-top: 48px;
    }
    .overview iframe{
        margin-bottom: 16px;
    }
    #fitur{
        height: 1700px;
        top: -200px;   
        margin-bottom: -100px; 
    }
    #fitur:before {
        height: 3020px;
    }
    .sub-fitur{
        top: 150px;
    }
    .box-preview{
        margin-top: 48px;
    }
    .h1-cv{
        font-size: 32px;
    }
    .p-cv{
        font-size: 18px;
        text-align: left;
    }
    .top-40-cv{
        margin-top: 24px;
        width: 100%;
    }
    .top-184{
        margin-top: 64px;
    }
    .h1-forum{
        font-size: 28px;
    }
    .p-forum{
        font-size: 18px;
        text-align: left;
    }
    .top-40-forum{
        margin-top: 24px;
        width: 100%;
    }
    #bootcamp{
        padding: 0;
        padding-bottom: 100px;
    }
    .h1-beasiswa{
        font-size: 24px;
    }
    .p-beasiswa{
        font-size: 18px;
        text-align: left;
    }
    .top-32-beasiswa{
        margin-top: 24px;
    }
    .img-beasiswa{
        margin: 0 auto;
        margin-bottom: 16px;
    }

    #kepercayaan{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .h1-kepercayaan{
        font-size: 28px;
        padding-left: 8.3333%;
        padding-right: 8.33333%;
    }
    .sub-kepercayaan{
        padding-left: 8.3%;
        padding-right: 8.3%;
    }
    .counter{
        position: relative;
        height: 42%;
        width: 100%;
        left: 0;
        padding-top: 16px;
    }
    .counter .number{
        font-size: 32px;
        margin-top: 24px;
    }
    .h1-number{
        font-size: 18px;
    }
    .top-300-jaringan{
        margin-top: 100px !important;
    }
    .top-300-jaringan h1 {
        font-size: 24px;
        padding-left: 8.33%;
        padding-right: 8.33%;
    }
    .logo-big, .logo-medium, .logo-small {
        float: none;
    }
    #guru {
        padding-top: 80px;
    }
    .h1-guru{
        font-size: 28px;
    }
    .p-guru{
        font-size: 18px;
    }
    .card p{
        font-size: 18px;
    }
    #guru .row{
        text-align: center;
    }
    #testimoni{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .sub-testimoni {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .img-guru{
        margin-bottom: 32px;
    }
    .sub-testimoni p {
        font-size: 18px;
    }
    #testimoni:before {
        height: 2500px;
    }
    #sponsors{
        padding: 64px 16px;
    }    
    #sponsors .top-48{
        margin-top: 0;
        text-align: center
    }
    #sponsors .col-md-12{
        text-align: center;
    }
    .logo{
        margin-top: 24px;
        float: none;
        margin-left: 0 !important;
    }
    .h1-sponsor, .h1-didukung{
        font-size: 24px;
    }
    footer{
        padding-bottom: 20px;
        padding-top: 48px;
    }
    footer ul li {
        display: block;
        margin-top: 16px;
    }
    footer .col-md-3{
        margin-top: 40px;
    }
    .sosmed{
        margin-top: 16px;
    }
    .sosmed .logo{
        float: left;
        margin-right: 16px;
        margin-top: 0;
    }
    footer:before {
        top: 44%;
        height: 70%;
    }
    .footer-text{
        margin-left: 0;
        margin-right: 64px;
        margin-top: 10px;
    }
    .copyright .text{
        margin-bottom: 16px;
    }
    /* About */
    .button-about h6 {
        font-size: 16px;
        color: white;
        text-align: center;
        font-family: 'Helvetica-Bold';
        line-height: 72px;
    }
    .title-about h1 {
        font-size: 24px;
    }
    .p-tentang {
        margin-top: 28px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .p-tentang p {
        line-height: 25px;
        font-size: 16px;
        text-align: left;
        color: #3D3F41;
    }
    .p-tentang p:first-child {
        margin-bottom: 28px;
    }
    .video-frame {
        margin: 0 auto;
        text-align: center;
        margin-top: 72px;
        width: 90%;
        height: 50%;
    }
    .fitur-utama {
        margin-top: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .row-fitur img, .belajar-fitur {
        float: none;
    }
    .row-fitur {
        text-align: center;
    }
    .detail-fitur h2 {
        padding-top: 18px;
    }
    .detail-fitur p {
        font-size: 16px;
    }
    .float-right {
        float: none !important;
    }
    .carousel-title h2 {
        font-size: 24px;
    }
    .title-about::after, .carousel-title h2::after {
        width: 100px;
        margin-top: 16px;
    }

    .item div div{
        text-align: center;
    }
    #testimonials .media-carousel .carousel-control.left {
        left: 10px;
        top: 50px;
    }
    #testimonials .media-carousel .carousel-control.right {
        right: 10px;
        top: 50px;
    }
    #testimonials {
        margin-top: 40px;
    }
    #testimonials p.testimonial {
        font-size: 16px;
    }
    #testimonials p.nama {
        font-size: 16px;
        text-align: left;
    }
    #carousel-fitur {
        margin-top: 80px;
        padding-bottom: 72px;
    }
    .detail-fitur h2 {
        font-size: 18px;
    }

    /* About */
    .info-box{
        width: 100%;
        padding-bottom: 32px;
    }
    .info-kontak {
        padding-left: 0%;
    }
    .info-box .content table tr td:first-child {
        font-size: 18px;
    }        
    .info-box .content {
        padding-left: 16px;
    }
    .info-box .content table tr td {
        font-size: 16px;
    }
    .info-box .header h3 {
        font-size: 20px;
    }
    .headquarters h6, .headquarters h5 {
        margin-top: 8px;
        font-size: 16px;
        color: #000000;
    }
    #kontak-arkademy {
        padding-top: 69px;
        padding-bottom: 80px;
    }
    .left-offset120{
        margin-left: 0;
    }
    .line-45deg{
        width: 100%;
        -webkit-transform: unset;
        transform: unset;
        top: 20px;
    }
    #motivasi p{
        font-size: 18px;
    }
    .school{
        margin-left: -20px;
    }
    .xs-top-0{
        margin-top: 0;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    #section-bootcamp {
        padding-top: 115px;
    }
    .h1-xs{
        font-size: 24px;
    }
    #section-bootcamp h1 {
        font-size: 28px;
    }
    #hubungi-kami .btn {
        padding: 12px 36px;
        border: none;
        text-transform: none;
        letter-spacing: 2px;
    }
    #hubungi-kami img {
        width: 100%;
    }
    .h1-feature{
        font-size: 24px;
        text-align: center;
    }
    .text-center-xs{
        text-align: center;
    }
    .top-48-xs{
        margin-top: 48px;
    }
    .p-title-bootcamp, .p-content-bootcamp{
        font-size: 18px;
    }
    .p-content-bootcamp{
        text-align: left;
    }
    #testimoni-bootcamp {
        height: 1200px;
    }
    #card-group {
        margin: 0 auto;
        bottom: 230px;
        margin-top: -750px;
    }
    .top-28-xs{
        margin-top: 28px !important;
    }
    .h1-advertise{
        font-size: 24px;
    }
    #timeline {
        bottom: 150px;
    }
    .timeline-period {
        left: 0;
        position: relative;
    }
    .timeline-content {
        width: calc(70% - 10px);
        position: relative;
        left: 20px;
        min-height: 100px;
        border-radius: 10px;
        margin-top: 48px;
    }
    .timeline {
        top: 10px;
    }
    #timeline{
        height: 1120px;
    }
    .timieline-title {
        font-size: 18px;
        font-family: 'Helvetica-Light',sans-serif;
        color: #fff;
        position: unset;
        right: 30px;
        margin-top: 16px;
    }
    .timeline-content:before {
        left: calc(130% - 5px);
    }
    .timeline:before {
        left: calc(90% - 1px);
    }
    #batch {
        margin-top: -50px;   
        padding-bottom: 64px;   
    }
    .img-batch{
        display: block;
        margin: 0 auto;
    }
    .card-testimoni {
        padding: 24px;
    }
    .top-32-xs{
        margin-top: 32px;
    }
    .top-0-xs{
        margin-top: 0px;
    }
    .top-16-xs{
        margin-top: 16px;
    }
    #join-bootcamp {
        position: relative;
        width: 100%;
        min-height: 276px;
        overflow: hidden;
        background-color: #1E3A56;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .bottom-24-xs{
        margin-bottom: 24px;
    }
    .top-24-xs{
        margin-top: 24px;
    }
    #hubungi-kami {
        position: relative;
        padding: 48px 0;
    }
    #hubungi-kami img {
        position: relative;
        margin-top: 64px;
    }
    #popup .content{
        width: auto;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 40px 0;
    }
    .top-36-sm{
        margin-top: 36px;
    }
    .box-daftar {
        width: 94%;
        padding-bottom: 60px;
    }
    .btn-masuk {
        margin-top: 24px;
    }
    .bottom ul {
        padding-left: 0;
    }
    .bottom ul li {
        list-style: none;
        text-align: center;
        padding: 4px;
    }
    .box-daftar-sebagai {
        width: 94%;
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 48px;
    }
    .box-daftar-sebagai h1 {
        font-size: 18px;
    }
    .button-group .btn-ungu {
        margin-right: 0px;
    }
    .button-group .row {
        margin-bottom: 24px;
    }
    .navbar li a {
        text-align: center;
        font-size: 14px;
    }

    /* Landing page */
    #header{
        padding-top: 140px;
        height: 640px;
    }
    .title{
        font-size: 28px;
        line-height: 36px;
    }
    .p-title{
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 0;
    }
    #header .btn{
        margin-top: 48px;
    }
    .btn {
        padding: 12px 36px;
        font-size: 18px;
        line-height: 24px;
    }
    #modul-belajar {
        padding-top: 80px;
    }
    .decoration-first {
        right: -40px;
        top: 0px;
        width: 50%;
    }
    .title-modul{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .line-horizontal {
        width: 80px;
        height: 3px;
    }
    .p-modul{
        margin-top: 16px;
        font-size: 18px;
        text-align: left;
    }
    .top-32-modul{
        margin-top: 24px;
    }
    .top-64-modul{
        margin-top: 48px;
    }
    .overview iframe{
        margin-bottom: 16px;
    }
    #fitur{
        height: 1700px;
        top: -200px;   
        margin-bottom: -100px; 
    }
    #fitur:before {
        height: 3020px;
    }
    .sub-fitur{
        top: 150px;
    }
    .box-preview{
        margin-top: 48px;
    }
    .h1-cv{
        font-size: 32px;
    }
    .p-cv{
        font-size: 18px;
        text-align: left;
    }
    .top-40-cv{
        margin-top: 24px;
        width: 100%;
    }
    .top-184{
        margin-top: 64px;
    }
    .h1-forum{
        font-size: 28px;
    }
    .p-forum{
        font-size: 18px;
        text-align: left;
    }
    .top-40-forum{
        margin-top: 24px;
        width: 100%;
    }
    #bootcamp{
        padding: 0;
        padding-bottom: 100px;
    }
    .h1-beasiswa{
        font-size: 24px;
    }
    .p-beasiswa{
        font-size: 18px;
        text-align: left;
    }
    .top-32-beasiswa{
        margin-top: 24px;
    }
    .img-beasiswa{
        margin: 0 auto;
        margin-bottom: 16px;
    }

    #kepercayaan{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .h1-kepercayaan{
        font-size: 28px;
        padding-left: 8.3333%;
        padding-right: 8.33333%;
    }
    .sub-kepercayaan{
        padding-left: 8.3%;
        padding-right: 8.3%;
    }
    .counter{
        position: relative;
        height: 42%;
        width: 100%;
        left: 0;
        padding-top: 16px;
    }
    .counter .number{
        font-size: 32px;
        margin-top: 24px;
    }
    .h1-number{
        font-size: 18px;
    }
    .top-300-jaringan{
        margin-top: 100px !important;
    }
    .top-300-jaringan h1 {
        font-size: 24px;
        padding-left: 8.33%;
        padding-right: 8.33%;
    }
    .logo-big, .logo-medium, .logo-small {
        float: none;
    }
    #guru {
        padding-top: 80px;
    }
    .h1-guru{
        font-size: 28px;
    }
    .p-guru{
        font-size: 18px;
    }
    .card p{
        font-size: 18px;
    }
    #guru .row{
        text-align: center;
    }
    #testimoni{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .sub-testimoni {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .img-guru{
        margin-bottom: 32px;
    }
    .sub-testimoni p {
        font-size: 18px;
    }
    #testimoni:before {
        height: 2500px;
    }
    #sponsors{
        padding: 64px 16px;
    }    
    #sponsors .top-48{
        margin-top: 0;
        text-align: center
    }
    #sponsors .col-md-12{
        text-align: center;
    }
    .logo{
        margin-top: 24px;
        float: none;
        margin-left: 0 !important;
    }
    .h1-sponsor, .h1-didukung{
        font-size: 24px;
    }
    footer{
        padding-bottom: 20px;
        padding-top: 48px;
    }
    footer ul li {
        display: block;
        margin-top: 16px;
    }
    footer .col-md-3{
        margin-top: 40px;
    }
    .sosmed{
        margin-top: 16px;
    }
    .sosmed .logo{
        float: left;
        margin-right: 16px;
        margin-top: 0;
    }
    footer:before {
        top: 44%;
        height: 70%;
    }
    .footer-text{
        margin-left: 0;
        margin-right: 64px;
        margin-top: 10px;
    }
    .copyright .text{
        margin-bottom: 16px;
    }
    /* About */
    .button-about h6 {
        font-size: 16px;
        color: white;
        text-align: center;
        font-family: 'Helvetica-Bold';
        line-height: 72px;
    }
    .title-about h1 {
        font-size: 24px;
    }
    .p-tentang {
        margin-top: 28px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .p-tentang p {
        line-height: 25px;
        font-size: 16px;
        text-align: left;
        color: #3D3F41;
    }
    .p-tentang p:first-child {
        margin-bottom: 28px;
    }
    .video-frame {
        margin: 0 auto;
        text-align: center;
        margin-top: 72px;
        width: 90%;
        height: 50%;
    }
    .fitur-utama {
        margin-top: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .row-fitur img, .belajar-fitur {
        float: none;
    }
    .row-fitur {
        text-align: center;
    }
    .detail-fitur h2 {
        padding-top: 18px;
    }
    .detail-fitur p {
        font-size: 16px;
    }
    .float-right {
        float: none !important;
    }
    .carousel-title h2 {
        font-size: 24px;
    }
    .title-about::after, .carousel-title h2::after {
        width: 100px;
        margin-top: 16px;
    }

    .item div div{
        text-align: center;
    }
    #testimonials .media-carousel .carousel-control.left {
        left: 10px;
        top: 50px;
    }
    #testimonials .media-carousel .carousel-control.right {
        right: 10px;
        top: 50px;
    }
    #testimonials {
        margin-top: 40px;
    }
    #testimonials p.testimonial {
        font-size: 16px;
    }
    #testimonials p.nama {
        font-size: 16px;
        text-align: left;
    }
    #carousel-fitur {
        margin-top: 80px;
        padding-bottom: 72px;
    }
    .detail-fitur h2 {
        font-size: 18px;
    }

    /* About */
    .info-box{
        width: 100%;
        padding-bottom: 32px;
    }
    .info-kontak {
        padding-left: 0%;
    }
    .info-box .content table tr td:first-child {
        font-size: 18px;
    }        
    .info-box .content {
        padding-left: 16px;
    }
    .info-box .content table tr td {
        font-size: 16px;
    }
    .info-box .header h3 {
        font-size: 20px;
    }
    .headquarters h6, .headquarters h5 {
        margin-top: 8px;
        font-size: 16px;
        color: #000000;
    }
    #kontak-arkademy {
        padding-top: 69px;
        padding-bottom: 80px;
    }
    .left-offset120{
        margin-left: 0;
    }
    .line-45deg{
        width: 100%;
        -webkit-transform: unset;
        transform: unset;
        top: 20px;
    }
    #motivasi p{
        font-size: 18px;
    }
    .school{
        margin-left: -20px;
    }
    .xs-top-0{
        margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #section-bootcamp {
        padding-top: 170px;
    }
    .h1-xs{
        font-size: 28px;
    }
    #section-bootcamp h1 {
        font-size: 36px;
    }
    #hubungi-kami .btn {
        padding: 12px 36px;
        border: none;
        text-transform: none;
        letter-spacing: 2px;
    }
    #hubungi-kami img {
        width: 100%;
    }
    .h1-feature{
        font-size: 28px;
        text-align: center;
    }
    .text-center-xs{
        text-align: center;
    }
    .p-title-bootcamp, .p-content-bootcamp{
        font-size: 18px;
    }
    .p-content-bootcamp{
        text-align: left;
    }
    #testimoni-bootcamp {
        height: 400px;
    }
    #card-group {
        margin: 0 auto;
        bottom: 230px;
        margin-top: 0px;
    }
    .top-28-xs{
        margin-top: 28px !important;
    }
    .h1-advertise{
        font-size: 28px;
    }
    .timeline {
        padding: 20px 50px;
    }
    #batch {
        margin-top: 0px;   
        padding-bottom: 64px;   
    }
    .img-batch{
        display: block;
        margin: 0 auto;
    }
    .card-testimoni {
        padding: 24px;
    }
    .top-32-xs{
        margin-top: 32px;
    }
    .top-0-xs{
        margin-top: 0px;
    }
    .top-16-xs{
        margin-top: 16px;
    }
    #join-bootcamp {
        position: relative;
        width: 100%;
        min-height: 276px;
        overflow: hidden;
        background-color: #1E3A56;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .bottom-24-xs{
        margin-bottom: 24px;
    }
    .top-24-xs{
        margin-top: 24px;
    }
    #hubungi-kami {
        position: relative;
        padding: 48px 0;
    }
    #hubungi-kami img {
        position: relative;
        margin-top: 64px;
    }
    .top-36-sm{
        margin-top: 36px;
    }
    .box-daftar {
        width: 90%;
        padding-bottom: 64px;
    }

    .box-daftar-sebagai {
        width: 94%;
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 48px;
    }
    .box-daftar-sebagai h1 {
        font-size: 24px;
    }
    .button-group .btn-ungu {
        margin-right: 0px;
    }
    .button-group .row {
        margin-bottom: 24px;
    }
    .navbar li a {
        text-align: center;
        font-size: 14px;
    }

    /* Landing page */
    .navbar-right {
        float: right!important;
        margin-right: -45px;
    }
    #header{
        padding-top: 140px;
        height: 640px;
    }
    .title{
        font-size: 28px;
        line-height: 36px;
    }
    .p-title{
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 0;
    }
    #header .btn{
        margin-top: 48px;
    }
    .btn {
        padding: 12px 36px;
        font-size: 18px;
        line-height: 24px;
    }
    #modul-belajar {
        padding-top: 80px;
    }
    .decoration-first {
        right: -40px;
        top: 0px;
        width: 50%;
    }
    .title-modul{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .line-horizontal {
        width: 80px;
        height: 3px;
    }
    .p-modul{
        margin-top: 16px;
        font-size: 18px;
        text-align: left;
    }
    .top-32-modul{
        margin-top: 24px;
    }
    .top-64-modul{
        margin-top: 48px;
    }
    .overview iframe{
        margin-bottom: 16px;
    }
    #fitur{
        height: 1800px;
        top: -200px;   
        margin-bottom: -100px; 
    }
    #fitur:before {
        height: 3020px;
    }
    .sub-fitur{
        top: 150px;
    }
    .box-preview{
        margin-top: 48px;
    }
    .h1-cv{
        font-size: 32px;
    }
    .p-cv{
        font-size: 18px;
        text-align: left;
    }
    .top-40-cv{
        margin-top: 24px;
        width: 100%;
    }
    .top-184{
        margin-top: 64px;
    }
    .h1-forum{
        font-size: 28px;
    }
    .p-forum{
        font-size: 18px;
        text-align: left;
    }
    .top-40-forum{
        margin-top: 24px;
        width: 100%;
    }
    #bootcamp{
        padding: 0;
        padding-bottom: 100px;
    }
    .h1-beasiswa{
        font-size: 24px;
    }
    .p-beasiswa{
        font-size: 18px;
        text-align: left;
    }
    .top-32-beasiswa{
        margin-top: 24px;
    }
    .img-beasiswa{
        margin: 0 auto;
        margin-bottom: 16px;
    }

    #kepercayaan{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .h1-kepercayaan{
        font-size: 28px;
        padding-left: 8.3333%;
        padding-right: 8.33333%;
    }
    .sub-kepercayaan{
        padding-left: 8.3%;
        padding-right: 8.3%;
    }
    .counter{
        position: relative;
        height: 42%;
        width: 100%;
        left: 0;
        padding-top: 16px;
    }
    .counter .number{
        font-size: 36px;
        margin-top: 24px;
    }
    .h1-number{
        font-size: 24px;
    }
    .top-300-jaringan{
        margin-top: 72px !important;
    }
    .top-300-jaringan h1 {
        font-size: 24px;
        padding-left: 8.33%;
        padding-right: 8.33%;
    }
    .logo-big, .logo-medium, .logo-small {
        float: left;
    }
    #guru {
        padding-top: 80px;
    }
    .h1-guru{
        font-size: 32px;
    }
    .p-guru{
        font-size: 24px;
    }
    .card p{
        font-size: 18px;
    }
    #guru .row{
        text-align: center;
    }
    #testimoni{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .float-right-sm{
        float: right;
    }
    .sub-testimoni {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .img-guru{
        margin-bottom: 32px;
    }
    .sub-testimoni p {
        font-size: 18px;
    }
    #testimoni:before {
        height: 2500px;
    }
    #sponsors{
        padding: 64px 16px;
    }    
    #sponsors .top-48{
        margin-top: 0;
        text-align: center
    }
    #sponsors .col-md-12{
        text-align: center;
    }
    .logo{
        margin-top: 24px;
        float: none;
        margin-left: 0 !important;
    }
    .h1-sponsor, .h1-didukung{
        font-size: 24px;
    }
    footer{
        padding-bottom: 20px;
        padding-top: 48px;
    }
    footer ul li {
        display: block;
        margin-top: 16px;
    }
    footer .col-md-3{
        margin-top: 40px;
    }
    .sosmed{
        margin-top: 16px;
    }
    .sosmed .logo{
        float: left;
        margin-right: 16px;
        margin-top: 0;
    }
    footer:before {
        top: 44%;
        height: 70%;
    }
    .copyright .text{
        font-size: 12px;
    }
    /* About */
    .button-about h6 {
        font-size: 16px;
        color: white;
        text-align: center;
        font-family: 'Helvetica-Bold';
        line-height: 72px;
    }
    .title-about h1 {
        font-size: 24px;
    }
    .p-tentang {
        margin-top: 28px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .p-tentang p {
        line-height: 25px;
        font-size: 18px;
        text-align: left;
        color: #3D3F41;
    }
    .p-tentang p:first-child {
        margin-bottom: 28px;
    }
    .video-frame {
        margin: 0 auto;
        text-align: center;
        margin-top: 72px;
        width: 90%;
        height: 50%;
    }
    .fitur-utama {
        margin-top: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .row-fitur img, .belajar-fitur {
        float: left;
    }
    .text-right {
        text-align: right !important;
    }
    .row-fitur {
        text-align: left;
    }
    .detail-fitur h2 {
        padding-top: 18px;
    }
    .detail-fitur p {
        font-size: 16px;
    }
    .float-right {
        float: right !important;
    }
    .carousel-title h2 {
        font-size: 24px;
    }
    .title-about::after, .carousel-title h2::after {
        width: 100px;
        margin-top: 16px;
    }

    .item div div{
        text-align: center;
    }
    #testimonials .media-carousel .carousel-control.left {
        left: 100px;
        top: 50px;
    }
    #testimonials .media-carousel .carousel-control.right {
        right: 100px;
        top: 50px;
    }
    #testimonials {
        margin-top: 40px;
    }
    #testimonials p.testimonial {
        font-size: 16px;
        padding-left: 32px;
        padding-right: 32px;
    }
    #testimonials p.nama {
        font-size: 16px;
        text-align: left;
        padding-left: 32px;
        padding-right: 32px;
    }
    #carousel-fitur {
        margin-top: 80px;
        padding-bottom: 72px;
    }
    .detail-fitur h2 {
        font-size: 18px;
    }
    .footer-text {
        margin-left: 16px;
    }

    /* Abput */
    .info-kontak {
        padding-left: 0;
    }
    .info-box {
        width: 100%;
        height: 270px;
    }
    .info-box .content table tr td:first-child {
        font-size: 16px;
    }
    .info-box .content {
        padding-left: 20px;
    }
    .headquarters {
        padding-left: 20px !important;
        text-align: left !important;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .copyright .text{
        font-size: 16px;
    }
    .title{
        font-size: 32px;
    }
    .p-title{
        font-size: 18px;
    }

    .footer-text {
        margin-left: 24px;
    }

    /* About */
    .info-kontak {
        padding-left: 0%;
    }
    .info-box .content {
        padding-left: 20px !important;
    }
    .info-box .content table tr td:first-child {
        font-size: 16px;
    }
}