.cart {
  position: relative;
  margin-right: 30px;
  top: 5px;
  cursor: pointer; }

.picture {
  float: left; }

.icon-arrow-down {
  position: relative;
  display: block; }

.icon-arrow-down {
  background: url("../img/icon-arrow-down.svg") no-repeat;
  width: 8px;
  height: 8px;
  float: right;
  margin-left: 5px;
  top: 20px; }

.notification {
  position: relative;
  display: block;
  width: 100%;
  height: 44px;
  z-index: 99999;
  top: 98px;
  padding-top: 9px;
  z-index:auto; }
  .notification p {
    font-family: "Helvetica-Bold", sans-serif;
    font-size: 18px;
    float: left;
    display: block;
    color: #FFFFFF; }

.success {
  background: #52BFA1; }

.tutup {
  position: relative;
  float: right;
  padding: 4px;
  color: #F47E00; 
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background:  #fff;
  cursor: pointer;
  text-align: center;
}


// content
#content{
  position: relative;
  margin-top: 100px + 67px;
  margin-bottom: 100px;
  color: $color-black;
  .name{
    font-family: $font-light !important;
  }
}


// Nav tabs
.nav-tabs{
  margin-top: 60px;
  li{
  width: 33%;
    a{
      text-align: center;
      font-family: $font-light;
      font-size: 18px;
      color: $color-gray;
      border-bottom: 6px solid transparent;
    }
    a:hover{
      background:none;
      border:none;
    }
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  font-family: $font-bold;
  border: none;
  color: $color-orange;
  border-bottom: 6px solid $color-orange;
  width: 210px;
    position: relative;
    margin: 0 auto;
}

.main-content{
  position: relative;
  border: 1px solid #E9E9F1;
  height: 608px;
  margin-top: 37px;
  margin-bottom: 27px;
  border-radius:10px;
  overflow:hidden;
  .title{
    background: $color-gray;
    font-family: $font-bold;
    font-size: 18px;
    text-transform: uppercase;
    padding: 17px 33px;
    color: #FFFFFF;
  }
}

.tab-content{
  padding-left: 33px;
  padding-right: 33px;
  .card{
    border-radius: 10px;
    width: 100%;
    border: 1px solid #E9E9F1;
    overflow: hidden;
    margin-bottom: 100px;
    box-shadow: unset;
    margin-bottom: 0;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.sub-content{
  position: relative;
  p{
    font-size: 18px;
    font-family: $font-light;
  }
  .btn{
    padding: 14px 175px;
  }
  .btn-small{
    padding: 14px 35px;
  }
}

#riwayat{
  .sub-content{
    padding: 63px 33px;
  }
  .row{
    margin-bottom:80px;
  }
}

.desc{
  display: inline-block;
}
.title-materi{
  float: left;
}

#soal{
  .sub-content{
    padding: 63px 33px;
  }
  .row{
    margin-bottom:80px;
  }
}

.upgrade{
  color: $color-orange;
  border:1px solid $color-orange;
  border-radius: 30px;
  padding: 4px 24px;
  float: left;
  margin-left: 13px;
}