$font-regular: 'Helvetica',sans-serif;
$font-light: 'Helvetica-Light',sans-serif;
$font-bold: 'Helvetica-Bold',sans-serif;

$color-black: #3D3F41;
$color-gray:#C4C4C4;
$color-white: #FFFFFF;
$color-orange: #F47E00;
$color-blue: #1E3A56;